body{
font-family: Arial;
background:#f4f6f9;
text-align:center;
}

h1{
color:#333;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
}

table{
margin:auto;
border-collapse:collapse;
}

td,th{
padding:10px;
}
