<h2>Student Dashboard</h2>

<a href="/logout">Logout</a>

<h3>Submit Complaint</h3>

<form method="POST">

<textarea name="complaint" required></textarea>
<br><br>

<button type="submit">Submit Complaint</button>

</form>


<h3>All Complaints</h3>

<table border="1">

<tr>
<th>Student</th>
<th>Complaint</th>
<th>Status</th>
</tr>

{% for complaint in complaints %}

<tr>
<td>{{complaint.student_name}}</td>
<td>{{complaint.complaint_text}}</td>
<td>{{complaint.status}}</td>
</tr>

{% endfor %}

</table>
