<!DOCTYPE html>
<html>
<head>
    <title>Student Complaint System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Student Complaint Management</h1>
    <p>Submit & Track Complaints Easily</p>
</header>

<section>
    <h2>Welcome</h2>
    <p>This platform allows students to register complaints and track their resolution status.</p>

    <br>
    <a href="/register"><button>Student Register</button></a>
    <a href="/login"><button>Student Login</button></a>
    <a href="/admin"><button>Admin Login</button></a>
</section>

<footer>
    &copy; 2026 Student Complaint System
</footer>

</body>
</html>
